.features {
    gap: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.features .text-container:first-child h2 {
    font-size: 30px;
}

.features-info img {
    margin-bottom: 32px;
}

.features-container {
    gap: 80px;
}