footer .img-container img {
    width: 56px;
    height: 56px;
}

footer {
    padding-top: 48px;
    gap: 48px;
    margin-inline: -64px;
    margin-bottom: -32px;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: hsla(202, 11%, 66%, 0.150);
}

.footer-text {
    gap: 16px;
}

.attribution a {
    text-decoration: none;
}
    
.attribution a:hover {
    text-decoration: underline;
}
    
.footer-text p:hover {
    color: var(--strong-cyan);
}

.footer-text p {
    color: var(--dark-grayish-blue);
}

.socials {
    gap: 40px;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.socials img {
    width: 24px;
    height: 24px;
}

.socials-img:hover .svg-path {
    fill: var(--strong-cyan);
}